[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
circuitbreaker = "*"
fastapi = "*"
uvicorn = "*"
pybreaker = "*"
redis = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
